@charset "UTF-8";
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    min-width:1366px;
}

* {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

a {
    text-decoration: none;
    color: white;
}

#menu-container {
    height: 4.4rem;
    width: 100%;
    min-width: inherit;
    margin: 0;
    position: fixed;
    line-height: 35px;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    list-style-type: none;
    z-index: 70;
}

#menu-container.active {
    line-height: 2rem;
}

#menu-container .logo {
    display:inline-block;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #fff;
    color: lightyellow;
    font-size: 1.5em;
    text-align: center;
    line-height: 50px;
    margin: .6rem 0 0 3rem;
    text-shadow: none;
}

#menu-container:hover .logo {
    background-color: white;
    color: red;
}

#menu-container .logo:hover {
    background-color: white;
    color: red;
}

#menu{
    float:right;
}

#menu-container li {
    float: left;
    margin: 0 70px 0 0;
    height: 100%;
    padding: 0 .5rem;
    line-height: 42px;
    font-size: 14px;
    text-shadow: 5px 5px 10px grey;
}

#menu-container li:hover {
    background-color: rgba(0, 0, 0, .2);
}

#menu .active a::after {
    content: "";
    display: block;
    width: calc(100%);
    transition: all 0.3s ease;
}

#menu-container a {
    position: relative;
    display: inline-block;
    width: auto;
    padding: 14px 0;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}


/* 鼠标移入下画出下划线效果 */

#menu-container a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: white;
    position: absolute;
    opacity: 1;
    bottom: 0;
    /* left: 15px; */
    /* right: auto; */
    /* top: auto; */
    transition: all 0.3s ease;
}

#menu-container a:hover::after {
    content: "";
    display: block;
    width: calc(100%);
    transition: all 0.3s ease;
}

#fp-nav ul li a span {
    background-color: rgba(255, 255, 255, .5);
}

#fullpage .section:nth-child(1) p {
    /* text-shadow: 2px 2px 10px white; */
    font-size: 1.1rem;
    font-weight: 500;
    color: rgba(255, 255, 255, .8);
    /* line-height: 2rem;
    letter-spacing: .2rem; */
}

#fullpage .cicle {
    /* margin: 14rem 0 0 38rem; */
    /* width: 145px;
    height: 145px; */
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#fullpage .profile {
    width: 140px;
    height: 140px;
    margin: 13rem auto 0;
    border-radius: 100px;
    background-image: url('../img/yzh.jpg');
    background-position: 15px 0px;
    background-size: contain;
}

#fullpage .introduction {
    margin: 25rem 0 0 0;
    line-height: 2.5rem;
    position: fixed;
    width: 100%;
    height: 10rem;
    pointer-events: none;
}

#fullpage .section {
    min-width: 1366px;
    height:100%;
    text-align: center;
}

#fullpage .section h4 {
    font-size: 1.5em;
    font-weight: 400;
    color: black;
    text-shadow: 5px 5px 10px gray;
}

#fullpage .section:nth-child(1) {
    position: relative;
    background-image: linear-gradient(-136deg, rgb(9, 100, 124) 0%, rgb(19, 168, 111) 100%);
}

#fullpage .section:nth-child(2) {
    min-width:1366px;
    /* padding-left: 30px; */
}

.skillhead {
    margin: 120px auto 50px;
    color: white;
    font-size: 30px;
}

.sectionhead {
    position: absolute;
    margin: 125px 0 0 625px;
    color: white;
    font-size: 30px;
}

.action {
    opacity: 0;
    -webkit-transform: translate(0, 400px);
    transform: translate(0, 400px);
}

div[class^='sec-'] {
    width: 220px;
    height: 380px;
    margin: 0px 50px 80px;
    background-color: rgba(255, 255, 255, .1);
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    float: left;
}

.fp-tableCell{
    min-width:1366px;
}

.fp-controlArrow.fp-prev {
    left: 50px;
    margin-top: 0;
    border-width: 25px 25px 25px 0;
    border-color: transparent rgba(255, 255, 255, 0.1) transparent transparent;
}

.fp-controlArrow.fp-prev:hover {
    border-color: transparent rgba(255, 255, 255, .8) transparent transparent;
}

.fp-controlArrow.fp-next {
    right: 50px;
    margin-top: 0;
    border-width: 25px 0 25px 25px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.1);
}

.fp-controlArrow.fp-next:hover {
    border-color: transparent transparent transparent rgba(255, 255, 255, .8);
}

.col_{
    width: calc(25% - 2rem);
    /* margin: 1rem; */
    margin: 1rem 3rem;
    cursor: pointer;
}

@-webkit-keyframes riseHight {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
    100% {
        -webkit-transform: translateZ(20px);
        transform: translateZ(20px);
    }
}

@keyframes riseHight {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
    100% {
        -webkit-transform: translateZ(20px);
        transform: translateZ(20px);
    }
}

div[class^='sec-']:hover {
    -webkit-box-shadow: 10px 10px 20px gray;
    box-shadow: 10px 10px 20px gray;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
}

div[class^='sec-'].active {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
}

div[class^='sec-'] h3 {
    font-weight: 500;
}

div[class^='sec-'] p {
    word-break: break-all;
    margin: 10px;
    line-height: 20px;
}

i[class^='icon-'] {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    background-size: 30px 30px;
}

.icon-html5 {
    background: url('../images/qd_icons/html5.png');
}

.icon-css3 {
    background: url('../images/qd_icons/css3.png');
}

.icon-js {
    background: url('../images/qd_icons/js1.png');
}

.icon-jquery {
    background: url('../images/qd_icons/jquery.png');
}

.icon-bootstrap {
    background: url('../images/qd_icons/bootstrap.png');
}

.icon-sass {
    background: url('../images/qd_icons/sass.png');
}

.icon-vue {
    background: url('../images/qd_icons/vue.png');
}

.icon-angular {
    background: url('../images/qd_icons/angular.png');
}

.icon-react {
    background: url('../images/qd_icons/react.png');
}

.icon-gulp {
    background: url('../images/qd_icons/gulp.png');
}

.icon-webpack {
    background: url('../images/qd_icons/webpack.png');
}

.icon-node {
    background: url('../images/qd_icons/nodejs.png');
}

.icon-mongodb {
    background: url('../images/qd_icons/mongodb.png');
}

.icon-git {
    background: url('../images/qd_icons/git.png');
}

[class^='slide-'] {
    height: 21rem;
    margin: 8em 0 0 10em;
}

[class='slide-two'],
[class='slide-three'],
[class='slide-four'] {
    margin: 8em 0 0 15em;
}

.slide .left {
    width: 50%;
    height: 100%;
    /* margin: 10em 0 0 8em; */
    float: left;
    border-radius: 10px;
    overflow: hidden;
}

.slide .left img {
    width: 100%;
    height: 100%;
}

.slide .left img:hover {
    transform: scale(1.2, 1.2);
}

.slide .right {
    width: 40%;
    float: left;
    margin: 0 0 0 4em;
    text-align: left;
    color: white;
    font-size: 1rem;
}

#fullpage .slide .right h4 {
    color: white;
}

.slide .right h5 {
    margin: 1rem 0 .5rem 0;
    font-size: 1.1em;
}

.slide .right p {
    font-size: 0.9em;
    line-height: 1.8em;
}

#fullpage .section .contact {
    height: 10rem;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 50px;
    margin: 5rem auto;
}

#fullpage .section .contact ul {
    height: 100%;
    margin: 0 26rem;
    width: 100%;
    display: none;
}

#fullpage .section .contact ul li {
    list-style: none;
    color: white;
    float: left;
    margin: 1rem;
    padding: 1rem;
    font-size: 2rem;
    width: 5rem;
    height: 5rem;
    border: 1px solid white;
    border-radius: 3rem;
}

#fullpage .section .contact ul li a {
    display: inline-block;
    color: inherit;
}

#fullpage .section .contact ul li:hover {
    transform: scale(1.1, 1.1);
    background-color: rgba(255, 255, 255, .1);
    /* transition: all 2s ease !important; */
}

.gohome {
    margin: -4rem 0 0rem 75rem;
    position: fixed;
    width: 8em;
    height: 8em;
    cursor: pointer;
    opacity: .3;
}

.gohome:hover {
    opacity: 1;
}

.gohome img {
    width: 80%;
}

.copyright {
    color: white;
    letter-spacing: 0px;
    font-size: 1rem;
}